/* START of CSS Reset*/


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; /* Standard syntax */
}


/* END of CSS Reset */


:root {
  --main-clr: #FFE6A7;
  --secondary-clr: #F79256;
  --secondary-clr-hover: #db804b;
  --obscure-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("imgs/background-img.jpg") no-repeat center / cover;

  filter: blur(4px);
  transform: scale(1.05);
  z-index: -1;
}

h1 {
  padding-inline: 25px;
  background-color: var(--main-clr);
  box-shadow: var(--obscure-shadow);
}

header {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

main {
  width: 1200px;
  margin-inline: auto;
}

.collection {
  margin-top: 2rem; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--main-clr);
  box-shadow: var(--obscure-shadow);
  position: relative;
}

.book > * {
  padding-inline: 0.8rem;
}

.book-name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 1px solid black;
  background-color: var(--secondary-clr);
  border-radius: 25px 25px 0 0;
}

.bold {
  font-weight: bold;
}

#addButton {
  display: flex;
  justify-content: center;
}

#addButton button {
  background-color: var(--secondary-clr);
  box-shadow: var(--obscure-shadow);
}

#addButton button:hover {
  background-color: var(--secondary-clr-hover);
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 200px;
  left: 150px;
}

button svg {
  pointer-events: none;
}

.delete, .readBtn {
  fill: black;
  background-color: var(--secondary-clr);
  border: 1px solid black;
  border-radius: 25%;
}

.delete:hover, .readBtn:hover {
  background-color: var(--secondary-clr-hover);
}

#newBookDialog {
  min-width: 400px;
}

#newBookDialog form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#newBookDialog form > div:first-of-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#newBookDialog form > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#newBookDialog form > div:last-of-type {
  display: flex;
  gap: 15px;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  padding: 0;
  margin-bottom: 5px;
}

.readStatus {
  display: flex;
  gap: 25px;
}